<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form  action="{{ url_for('submit_data') }}" method="post" enctype="multipart/form-data">
    <label>MAC address </label>
    <input type="text" name="MAC" class="field-long" placeholder="MAC" />
    <label>C1 </label>
    <input type="text" name="C1" class="field-long" placeholder="C1" />
    <label>R1 </label>
    <input type="text" name="R1" class="field-long" placeholder="R1" />
    <label>C2 address </label>
    <input type="text" name="C2" class="field-long" placeholder="C2" />
    <label>R2 address </label>
    <input type="text" name="R2" class="field-long" placeholder="R2" />
    <label>C3 address </label>
    <input type="text" name="C3" class="field-long" placeholder="C3" />
    <label>R3 address </label>
    <input type="text" name="R3" class="field-long" placeholder="R3" />
    <input type="submit" name="submit"  value="PIN">
</form>
<br>

{% for u in users %}
{{u}}
<br>
{% endfor %}
</body>
</html>